.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #67227f, #a526d2);
    color: #fff;
}
@media (max-width: 700px) {
    .app-header {
        flex-direction: column;
        text-align: center;
    }
}
.app-header .logo-title {
    display: flex;
    align-items: center;
}
@media (max-width: 400px) {
    .app-header .header-title {
        font-size: 22px;
    }
    .app-header .subtitle .header-subtitle {
        font-size: 20px;
    }
}
.app-header .logo-title > * {
    margin: 0.5rem;
}
.app-header .logo-title .logo {
    max-height: 60px;
    width: auto;
}
.app-header .subtitle .header-subtitle {
    margin: 0.5rem;
    font-weight: 400;
}

.app-main {
    padding: 3rem;
}
@media (max-width: 991px) {
    .app-main {
        padding: 2.5rem;
    }
}
@media (max-width: 767px) {
    .app-main {
        padding: 2rem;
    }
}
@media (max-width: 550px) {
    .app-main {
        padding: 1.5rem;
    }
}
@media (max-width: 400px) {
    .app-main {
        padding: 1rem;
    }
}
@media (max-width: 320px) {
    .app-main {
        padding: 0.5rem;
    }
}
.captions-form {
    text-align: center;
}
.captions-form .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.captions-form .form-group > * {
    flex-grow: 1;
    margin: 0.5rem;
}
.captions-form .form-input {
    line-height: 1.5;
    padding: 0.5rem;
    font-size: 20px;
    border-radius: 5px;
}
.captions-form .form-button {
    line-height: 1.5;
    padding: 0.5rem 2rem;
    font-size: 20px;
    color: #fff;
    background-image: linear-gradient(to right, #67227f, #a526d2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.meme-result {
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 8px 0 rgba(128, 128, 128, 0.5);
    border-radius: 0.5rem;
}
.meme-result .meme-result-image{
    max-width: 100%;
    border-radius: 0.5rem;
}
